@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #333399, #0094ff);

}

.data-container {
    background-color: white;
    width: 1300px;
    height: 740px;
    margin-left: 280px;
    position: absolute;
    top: 100px;
    border-radius: 10px;
}

    .data-container button {
        background: Black;
        color: white;
        border-radius: 100px;
        letter-spacing: 2px;
        margin-left: 70px;
        position: absolute, fixed;
    }

        .data-container button:hover {
            background-color: green;
            cursor: pointer;
        }

header {
    position: fixed;
    background: black;
    padding: 0px;
    width: 100%;
    height: 70px;
}
.left h3 {
    color: #51b3ec;
    margin: 2;
    font-size: 25px;
    font-weight: 800;
    left: 100px;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background: rgb(15, 8, 26);
    transition: 0.5s;
    transition-property: left;
}

    .sidebar .image {
        width: 80px;
        height: 80px;
    }

    .sidebar h2 {
        color: #ccc;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .sidebar a {
        color: #fff;
        display: block;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 40px;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

        .sidebar a:hover {
            background: #51b3ec;
        }

    .sidebar ion-icon {
        padding-right: 10px;
    }

label #sidebar_btn {
    z-index: 1;
    position: fixed;
    left: 10px;
    color: white;
    font-size: 10px;
    height: 42px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}

    label #sidebar_btn:hover {
        color: #51b3ec;
    }

#check:checked ~ .sidebar {
    left: -190px;
}

    #check:checked ~ .sidebar a span {
        display: none;
    }

    #check:checked ~ .sidebar a {
        font-size: 20px;
        margin-left: 170px;
        width: 80px;
    }
    #check:checked ~ .data-container a {
        position: center;
    }

.content {
    background: url(/image/img-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: 0.5s;
}

#check:checked ~ .content {
    margin-left: 60px;
}

#check {
    display: none;
}

